#top-container{
     -fx-background-color: #CCCCCC;/*#8E0000*/;
}

.label {
   -fx-text-fill: #333366;
   -fx-font-family: Georgia;
}

.button{
	-fx-text-fill: #333366;
	-fx-font-family: Georgia;
}
.text{
	-fx-font-family: Georgia;
}